// .. Favourites.module.scss
@import '../../../src/styles/variable';
@import '../../../src/utils/mixins';

.favourites {
  padding-top: 72px;
  margin-bottom: 24px;

  @include tablet {
    padding-top: 88px;
    margin-bottom: 40px;
  }

  .title {
    margin-bottom: 8px;
  }

  .quantityGoods {
    color: $color-secondary;
    font-size: 14px;
    line-height: 150%; /* 21/14 */
    font-weight: $weight-semibold;
  }
}
