// .. variable.scss
// --- БАЗОВІ КОЛЬОРИ ПАЛІТРИ ---

$color-primary: #1b4965; // Основний темний (текст, заголовки, активні елементи)
$color-secondary: #89939a; // Другорядний сірий (описи товарів, неактивні стани)
$color-icons: #b4bdc3; // Колір для іконок (пошук, серце, кошик без фону)
$color-elements: #e2e6e9; // Колір меж (borders), ліній розділення та дрібних елементів
$color-hover-bg: #fafbfc; // Фон для карток, кнопок при наведенні або загальний світлий бекграунд
$color-white: #fff; // Чистий білий (для карток товарів, фону шапки тощо)

// --- СИГНАЛЬНІ/АКЦЕНТНІ КОЛЬОРИ ---

$color-green: #27ae60; // Успіх (ціна зі знижкою, статус "в наявності")
$color-red: #eb5757; // Помилка/Увага (видалення з кошика, "немає в наявності", гарячі знижки)

// -- кольори для різних моделей телефонів або планшетів
$color-cream-orange: #fcdbc1;
$color-slate-green: #536c6b;
$color-charcoal: #404040;
$color-light-gray: #f0f0f0;

// Шрифти
$font-main: "Outfit", sans-serif; // 👈 ТУТ вказуємо новий шрифт
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;
$extra-bold: 800;

// --- АНІМАЦІЇ ТА ПЕРЕХОДИ (TRANSITIONS) ---
$transition-duration: 0.3s;
$transition-effect: ease;
