// .. Hero.module.scss

@import "../../../../../src/styles/variable";
@import "../../../../../src/utils/mixins";

/* stylelint-disable selector-pseudo-class-no-unknown */

.hero {
  padding-top: 24px;
  padding-bottom: 56px;

  @include tablet {
    padding-top: 24px;
    padding-bottom: 64px;
  }

  @include desktop {
    padding-top: 56px;
    padding-bottom: 80px;
  }
}

.title {
  font-size: 32px;
  font-weight: $extra-bold;
  line-height: 1.28;
  color: $color-primary;

  padding: 0 16px;
  margin-bottom: 24px;

  @include tablet {
    font-size: 48px;
    max-width: 1166px;
    padding: 0 16px;
    margin: 0 auto 32px;
  }

  @include desktop {
    margin-bottom: 56px;
  }
}

.sliderBlock {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 16px;
  height: 100%;
  margin-bottom: 18px;

  @include tablet {
    max-width: 1166px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

.swiperContainer {
  flex-grow: 1;
  overflow: hidden;
  cursor: grab;
}

.bannerImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: 6% center;
  aspect-ratio: 1 / 1;

  @include tablet {
    aspect-ratio: 1040 / 400;
  }
}

:global {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    position: static;
    transform: none;

    width: 32px !important;
    min-width: 32px !important;
    flex-shrink: 0 !important;

    height: auto;
    margin: 0 !important;

    background-color: $color-white;
    border: 1px solid $color-icons;

    .swiper-navigation-icon,
    svg {
      display: none !important;
    }

    &::after {
      display: none !important;
      content: "" !important;
    }

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: $transition-duration;
    }

    &:hover {
      border-color: $color-primary;
    }
  }

  .swiper-pagination {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    .swiper-pagination-bullet {
      position: relative;
      display: block;

      width: 24px;
      height: 24px;
      margin: 0 !important;

      background-color: transparent !important;
      border-radius: 0 !important;
      opacity: 1;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 14px;
        height: 4px;
        background-color: $color-elements;
        transition: background-color $transition-duration;
      }

      &:hover::after {
        background-color: #757679;
      }
    }

    .swiper-pagination-bullet-active {
      &::after {
        background-color: $color-primary;
      }
    }
  }
}

.icon {
  display: flex;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
